<div class="container mx-auto px-8">
    <img class="w-3 mx-auto" src="../../../assets/img/dots.svg" alt="" />
    <div class="py-16">
      <h3 class="text-4xl text-slate-700 font-medium text-center mb-20">
        Entwicklung und Geschichte
      </h3>
      <div class="grid lg:grid-cols-2 gap-8 items-center">
        <div class="p-8">
          <p class="text-slate-600 lg:mt-2 lg:text-lg">
            Das Projekt "TimoMachts" ist eine wegweisende Online-Plattform, entwickelt von einem ambitionierten Team aus Informatikstudierenden, die das Ziel hat, den Ticketverkauf im Internet zu revolutionisieren. Das Herzstück des Projekts ist eine benutzerfreundliche Website, die es Nutzern ermöglicht, Eintrittskarten für eine Vielzahl von Veranstaltungen, von lokalen Konzerten bis hin zu großen Festivals, bequem und sicher zu erwerben.

Die Innovation von "TimoMachts" liegt in ihrer einzigartigen Kombination aus Benutzerfreundlichkeit, Sicherheit und einem umfassenden Angebot. Die Plattform nutzt fortschrittliche Technologien, um eine reibungslose Benutzererfahrung zu gewährleisten. Dazu gehören intuitive Such- und Filterfunktionen, die es den Nutzern ermöglichen, schnell und effizient die gewünschten Tickets zu finden. Ein besonderer Fokus liegt auf der Sicherheit: Die Plattform implementiert modernste Verschlüsselungstechniken und sichere Zahlungsmethoden, um den Schutz der Nutzerdaten zu gewährleisten.

Ein weiteres herausragendes Merkmal von "TimoMachts" ist das Engagement für Kundenzufriedenheit.</p>
          <nav aria-label="Progress mx-auto" class="mt-8">
            <ol
              role="list"
              class="flex items-center justify-center lg:justify-start"
            >
              <li class="relative pr-8 sm:pr-20">
                <!-- Completed Step -->
                <div
                  class="absolute inset-0 flex items-center"
                  aria-hidden="true"
                >
                  <div class="h-0.5 w-full bg-orange-500"></div>
                </div>
                <a
                  routerLink="/"
                  class="relative w-10 h-10 flex items-center justify-center bg-orange-500 rounded-full hover:bg-orange-600 text-xs text-white"
                >
                  <!-- Heroicon name: solid/check -->
                  2001
                  <span class="sr-only">Step 1</span>
                </a>
              </li>
  
              <li class="relative pr-8 sm:pr-20">
                <!-- Completed Step -->
                <div
                  class="absolute inset-0 flex items-center"
                  aria-hidden="true"
                >
                  <div class="h-0.5 w-full bg-orange-500"></div>
                </div>
                <a
                  routerLink="/"
                  class="relative w-10 h-10 text-xs text-white flex items-center justify-center bg-orange-500 rounded-full hover:bg-orange-600"
                >
                  2010
                  <span class="sr-only">Step 2</span>
                </a>
              </li>
  
              <li class="relative pr-8 sm:pr-20">
                <!-- Current Step -->
                <div
                  class="absolute inset-0 flex items-center"
                  aria-hidden="true"
                >
                  <div class="h-0.5 w-full bg-slate-200"></div>
                </div>
                <a
                  routerLink="/"
                  class="relative w-10 h-10 flex items-center justify-center bg-white border-2 border-orange-500 rounded-full"
                  aria-current="step"
                >
                  <span
                    class="h-2.5 w-2.5 bg-orange-500 rounded-full"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Step 3</span>
                </a>
              </li>
  
              <li class="relative sm:pr-20">
                <!-- Upcoming Step -->
                <div
                  class="absolute inset-0 flex items-center"
                  aria-hidden="true"
                ></div>
                <a
                  routerLink="/"
                  class="group relative w-10 h-10 text-xs text-slate-500 flex items-center justify-center bg-white border-2 border-slate-300 rounded-full hover:border-slate-400"
                >
                  2024
                  <span class="sr-only">Step 4</span>
                </a>
              </li>
            </ol>
          </nav>
  
          <!-- <a
            href="https://cp.bluesuisse.net/bs-register.php"
            target="_blank"
            class="text-orange-500 mt-8 flex items-center font-medium"
            >Mehr zur Entwicklung von Alternavest
            <svg
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </a> -->
        </div>
  
        <div class="">
          <div class="">
            <img
              class="object-cover rounded-2xl shadow-2xl mx-auto"
              src="https://plus.unsplash.com/premium_photo-1664790560098-1fac17eb495e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
              alt="Alternavest München"
              style="height: 40rem; width: 30rem"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  
