*{
    margin: 0;
    padding: 0;
}
@import url(Schriftarten/Amiri_Quran/AmiriQuran-Regular.ttf);
html{
    height: 100%;
}
body{
    height: auto;   
    font-family: AmiriQuran-Regular, sans-serif;
    background-color: #fffff9;
}
header{
    width: 100%;
    height: 700px;
    background-image: url("Bilder/firework.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    width: 120px;
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
}
nav{
    height: 90px;
    width: 100%;
    background-color: #fffff9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.144);
    position: fixed;
    margin-right: 20px;
    z-index: 1;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav li a{
    font-family: AmiriQuran-Regular, sans-serif;
    font-size: 24px;
    color:#333;
    text-decoration: none;
    padding: 28px;
    display: block;
}
nav li a.active{
    color: goldenrod;
}
nav ul li a:hover{
    background-color: #ffcc017b;
}
.toggle_button{
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: #333;
    border-radius: 100px;
}
p{
    font-size: 25px;
    text-align: left;

}
h1{
    color: goldenrod;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 0px;
    padding: auto;
}
details {
    width: 100%;
    margin-right: 10px;
    background: #d4cccc;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem #00000066;
    border-radius: 5px;
    overflow: hidden;
  }
summary{
    font-size: 50px;
    color: #f5f1f1;
    display: block;
    background-color: #e4a72d;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}
summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  form{
    height: 100px;
  }

/*Startseite*/
.Ersteindruck{
    width: auto;
    height: 550px;
    padding: 10px;
    margin: 0px 30px 0px 30px;
}

.Ersteindruck_Bild{
    position: relative;
    left: 57%;
    bottom: 220px;
    width: 40%;
}

.Ersteindruck_Text{
    position: relative;
    left: 10px;
    font-weight: bold;
    font-size: 50px;
    width: 50%;
    margin: 200px 0px 0px 20px;
}

.alle_beispiele{
    width: auto;
    height: auto;
    text-align: center;
    margin: 6px;
    margin-bottom: 30px;
}
.ein_beispiel{
    width: 25%;
    height: auto;
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.AngebotSticker{
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.beispiel_bild{
    width: 100%;
    height: auto;
}
.beispiel_bild:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
} 
.wir{
    width: auto;
    height: auto;
    padding: 20px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.wir_bild{
    position: relative;
    left: 10px;
    width: 60%;
    margin-bottom: 10px;
}
.wir_text{
    position: absolute;
    display: inline;
    width: 30%;
    font-size: 25px;
    margin-right: 0px;
    margin-left: 60px;
    text-align: justify;
}
input.toggle_button{
    display: none;
}

#toggle_button{
    visibility: hidden;
}
/*Fußzeile*/
.Fußzeile{
    height: auto;
    width: 27%;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10px;
}

.Fußzeile li{
    padding: 10px 10px 10px 10px;
    list-style: none;
}

.Fußzeile li h1{
    color: #fffff9;
    font-size: 44px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.Fußzeile li a{
    color: #fffff9;
    font-size: 24px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.Kontaktdaten{
    color: #fffff9;
    font-size: 24px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.Fußzeile ul li a:hover{
    text-decoration: underline #ebebeb solid;
}

footer{
    height: 400px;
    width: auto;
    background-color: #747272;
}

.QaA{
    margin: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.Hilfe_Text{
    margin: 15px;
}
/*Kontakt*/
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Formular{
    width: 80%;
    padding: 20px;
    margin: 40px auto 20px auto;
    border-radius: 4px;
    background-color: #ffcc00;
}

form{
    height: inherit;
}

button{
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    width: auto;
    height: auto;
    border-style: none;
    font-size: 25px;
}

button:hover{
    background-color: #8afe60;
}

button:active{
    transform: translateY(4px);
    background-color: #8afe60;
}
.Absenden{
    display: inline;
}
p.Absenden{
    font-size: 15px;
    color: #ff0000;
    padding: 10px;
    margin-left: 30px;
}
label{
    font-size: 30px;
}

select{
    font-size: 20px;
    width: 100%;
    padding: 16px 20px;
}

input{
    font-size: 20px;
}
/*Über uns*/
.einsbild{
    width: 100%;
    height:auto ;
}
.Suh {
    text-align: center;
}
.Einleitung{
    padding: 60px;
    text-align: justify;
    padding-top: 30px;
    margin: 10px;
}
.Teilnehmer.div {
    box-shadow: 10px 20px 15px #d4cfcf;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 1cm;
}
.über.uns.text {
    width: 100%;
    height: auto;
    padding: 10px;
}
.Teilnehmerbild{
    width: 50%;
    height: auto;
}


.info{
    width: 40%;
    display: inline-block;
    padding: 20px;
    margin: 10px;
}

.Name{
    margin-left: 0%;
    margin-top: 5%;
}

.Teilnehmertext{
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: justify;
    font-size: 1.3vw;

}
/*Galerie*/

.Galleriebild2{
    width: 29%;
    height: 250px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 30px;
    display: inline;
    border-radius: 100%;
}
.Einblick{
    margin: 10px;
    padding: 5px;
}
.Hoch{
    margin-left: 30px;
    margin-right: 5%;
    text-align: justify;
}
.klasse{
    margin: 15px;
    padding-bottom: 30px;
}
.kBild{
    width: 29%;
    height: 250px;
    padding: 10px;
    margin-left: 15px;
    display: inline;
}
.kBild:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
} 

.kBeschreibung{
    padding-left: 20px;
    margin: 10px;
}

/*Angebot*/

.Informationstext{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    margin-inline-end: 20px;
    font-size: larger;
}

p.Infotext{
    margin: 0px 40px 0px 40px;
}

a.Schreib_uns{
    margin: 0px 40px 0px 40px;
}

.Schreib_uns{
    margin-top: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    box-sizing: border-box;
    border: cornflowerblue 4px;
    width: 30%;
    
}

.Hochzeitsbild{
    position: relative;
    left: 10px;
    width: 60%;
    margin-bottom: 10px;
    margin: auto;
    margin-left: 19%;
}
/* Formular abgegeben*/
.Angebotabgegeben{
    margin: 30px 30px 0px 30px;
    padding: 30px;
    background-color: #f4ae15;
}
.AngebotabgegebenBild{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px auto 30px auto;
}
a.AngebotabgegebenZurück{
    font-style: none;
    font-size: large;
}


@media(max-width: 1100px){
    
    .toggle_button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: white;
        display: none;
        position: absolute;
        top: 80px;
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
        margin-left: 20px;
    }
    #toggle_button:checked ~ ul{
        display: block;
    }

    header{
        height: 500px;
    }

    summary{
        font-size: 30px;
    }

    .QaA{
        margin-left: 20px;
    }

    .ein_beispiel{
        width: auto;
        height: auto;
        display: inline-block;
        padding: 20px;
        margin: 0px;
    }
    .beispiel_bild{
        width: 300px;
        height: 200px;
    }
    .wir{
        margin: 0px;
    }
    .wir_bild{
        position: static;
        height: auto;
        width: 100%;
        margin-left: 0px;
        float: none;
    }
    .wir_text{
        text-orientation: inherit;
    }
    .wir_text{
       position: static;
        display: block;
        width: 100%;
        font-size: 25px;
        text-align: justify;
        margin: 0;
    }
    .Fußzeile{
        height: auto;
        width: auto;
        float: none;
        margin: 0px;
    }
    footer{
        height: 1100px;
        width: auto;
        background-color: #9b9898;
    }
    .Ersteindruck_Bild{
        width: 0%;
    }
    .Ersteindruck_Text{
        left: 0px;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30%;
        width: 100%;
        text-align: center;
    }
    .Ersteindruck{
        height: 400px;
    }
    .info{
        float: none;
        width: 100%;
        padding: 0px;
        margin: 0px;

    }
    .Teilnehmerbild{
        width: 100%;
    }
    .Teilnehmer.div{
        margin: 0;
        width: auto;
        padding-bottom: 40px;
    }
    .Teilnehmertext{
        margin: 0;
        text-align: justify;
        padding-left: 30px;
        padding-right: 30px;
    }
    .Suh{
        margin: 10px 0px 10px 0px;
    }
    .Einleitung{
        padding-left: 30px;
        padding-right: 30px;
    }
    .Name{
        padding-left: 20px;
    }
    label{
        font-size: 20px;
    }
    button{
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .Absenden{
        display: block;
    }
    p.Absenden{
        margin-top: 17px;
        margin-left: 0px;
        text-align: justify;
    }
 /*Galerie*/
    .Galleriebild2{
        display: none;
    }

    .kBild{
        width: 90%;
        padding: 5%;
        margin-left: 0px;
        display: center;
    }
    .kBeschreibung{
        padding-left: 20px;
        margin: 10px;
    }
    .kUe{
        margin-left: 0px;
        text-align: center;
    }
    /*Angebot*/
    a.Schreib_uns{
        font-size: 20px;
    }
    p.Infotext{
        text-align: justify;
    }
    
}
